{% import 'modle.html'as m%}
{% s = '发布' if isAdmin else '参加'%}

<!DOCTYPE html>
<html lang="en">
{{ m.head(current_user.name+'创建的会议') }}
<body>
<link rel="stylesheet" href="css/comment.css">
{{m.header(current_user.name,current_user.inf,current_user.icon_path,isAdmin)}}
<div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">我{{}}的会议</h2>
		    </div><!--//container-->
            <hr size="3">
	    </section>
    <section class="blog-list px-3 py-5 p-md-5">
    {% if confs %}
		   <table>
               {% for conf in confs %}
               <tr>
                   <td>{{ conf.name }}</td>
                   <td><a href="del/{{ conf.id }}">删除会议</a></td>
               </tr>
               {% endfor %}
           </table>
    {% else %}
    <div class="align-content-center">
        <p class="text-lg-center">
            暂无记录
        </p>
    </div>

	    </section>


	    <footer class="footer text-center py-2 theme-bg-dark">

	       <small class="copyright">曾庶强 6109117179 计算机174班</small>

	    </footer>

    </div><!--//main-wrapper-->

{{ m.foot() }}
</body>
</html>