{% import 'modle.html' as m %}

<!DOCTYPE html>
<html lang="en">
{{ m.head('添加会议') }}
<body>
{{m.header(current_user.name,current_user.icon_path,isAdmin)}}
 <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">添加会议</h2>
		    </div><!--//container-->
            <hr color="blcak" size="3">
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
                <form action="" method="post">  <table>
               <tr>
                   <td>
                       会议名称：
                   </td>
                   <td>
                       {{ form.name() }}
                   </td>
               </tr>
           <tr>
               <td>会议介绍：</td>
               <td>{{ form.inf() }}</td>
           </tr>
                    <tr>
                        <td>会议地点：</td>
                        <td>{{ form.spot }}</td>
                    </tr>
                    <tr>
                        <td>会议宾馆：</td>
                        <td>{{ form.hotel }}</td>
                    </tr>
           </table>
                选择用户需要提交得的信息：<br>
                    <input type="checkbox" value="units" name="need">单位
                    <br><input type="checkbox" value="tel" name="need">电话号码
                    <br><input type="checkbox" value="id_card" name="need">身份证号
                    <br><input type="checkbox" value="sex" name="need">性别
                    <br><input type="checkbox" value="join_time" name="need">报名时间
                    <br><input type="checkbox" value="room" name="need">是否安排房间
                    <br>
                    <input type="submit" value="提交">
                    <br>
                    <span>{{ get_flashed_messages()[0] }}</span>

                </form>

		    </div>
	    </section>

	   {{m.footer()}}

    </div><!--//main-wrapper-->
</body>
</html>