{% import 'modle.html'as m%}

<!DOCTYPE html>
<html lang="en">
{{ m.head(conf.name) }}
<body>
<link rel="stylesheet" href="css/comment.css">
{{m.header(current_user.name,current_user.inf,current_user.icon_path)}}
<div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">{{conf.name}}</h2>
		    </div><!--//container-->
            <hr size="3">
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
                <div class="img"><img src="{{ conf.icon_path }}" alt="{{ conf.name }}"></div>
                <p class="intro">{{ conf.detail }}</p><br><p class="intro float-left">
                会议组织者：{{ conf.compere_id|get_name }}
            </p>
            <p class="intro float-right">会议唯一编号:{{ conf.identify }}</p>
		    </div>
	    </section>
     <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">参会者列表</h2>
		    </div><!--//container-->
            <hr size="3">
	    </section>
    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container align-items-lg-center">
 {% if users %}
                <table border="1" class="user_table"><tr>
                    <td>姓名</td>
                    <td>单位</td>
                    <td>电话号码</td>
                    <td>身份证号</td>
                    <td>性别</td>
                    <td>报名时间</td>
                    <td>安排房间</td>
                </tr>

                    {% for user in users %}

                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.units }}</td>
                        <td>{{ user.tel }}</td>
                        <td>{{ user.id_card }}</td>
                        <td>{{ user.sex }}</td>
                        <td>{{ user.join_time }}</td>
                        <td>{{ user.room }}</td>
                    </tr>
                        <br>


                    {% endfor %}
     <button><a href="export/{{ conf.id }}">导出为excel</a></button>
                {% else %}
               <p class="text-danger align-content-center">暂无参会人员</p>
                {% endif %}



                </table>
		    </div>
	    </section>


	    <footer class="footer text-center py-2 theme-bg-dark">

	       <small class="copyright">曾庶强 6109117179 计算机174班</small>

	    </footer>

    </div><!--//main-wrapper-->

{{ m.foot() }}
</body>
</html>