<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% with ms = get_flashed_messages()  %}

<form method="post">
{{ form.hidden_tag() }}
                name：{{form.name()}}<br>
                {%for e in form.name.errors%}
                <span style="color: red">*{{e}}</span>
                {%endfor%}
                password：{{form.password()}}<br>

               {%for e in form.password.errors%}
                <span style="color: red">*{{e}}</span>
                {%endfor%}
    <input type="submit" value="login"><br>
{% for m in ms %}
    <span>{{ m }}</span>
{%  endfor%}
</form>
{% endwith %}
</body>
</html>