<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="css/regist.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <article>
            <h1><em>会议管理系统</em><span>用户注册</span></h1>
            <div class="main">
                <form class="siginform" method="post">
                    <div class="userName">
                        {{ form.name(placeholder="用户名") }}<em>由5-8个字符组成！</em>
                    </div>
                    <div class="password">
                        {{ form.password(placeholder="密码",id=pwd1) }}<em>使用字母、数字、符号两种及以上的组合，8-12个字符</em>
                    </div>
                    <div class="againpwd">
                        <label for="pwd2"></label><input type="password" name="pwd" placeholder="再次输入密码" id="pwd2"><em class="msg"></em>
                    </div>
                    <button>注册</button>
                </form>
            </div>
        </article>
        <footer>
                <p class="inf">曾庶强 6109117179 计算机174班</p>
            </footer>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script>
   $("#pwd2").blur(function () {
       var pwd1 = $("#pwd1").val();
       var pwd2 = $("#pwd2").val();
       if(pwd1!==pwd2){
           $(".msg").innerText="两次输入密码不一致！";
       }
   })

</script>
</html>
